@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='nomad'] {
	--primary-color: #0b487e;
	--secondary-color: #547fa5;
	--sidebar-color: #fff;
	--background-color: #f4f4f4;
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: var(--primary-color);
	border-radius: 10px;
	margin-block: 0.5rem;
}
